* {
    margin:  auto;
    width:60vw;
    font-family: 'EB Garamond', serif;
    font-size:18px;
}

h1 {
    font-size: 30px;
    margin-bottom:25px;
}

.scenes {
    display:flex;
    flex-direction:column;
    gap:15px;
}