@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin:  auto;
    width:60vw;
}

.container {
    display:flex;
    flex-direction:column;
    gap:5vh;
    justify-content:space-between;
}

.quote {
    font-size:20px;
    font-family: 'Delius', cursive;
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    color:rgb(0, 0, 0);
    width:40vw;
    height: 250px;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:50px;
}

.actualQuote {
    width:90%;
}

#quoteAttribution {
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    margin-top:10px;
    margin-bottom:40px;
    margin-left:10vw;
    margin-right:10vw;
    width:70%;
    background-color:rgb(255, 255, 255);
}


.title {
    display:flex;
    gap:10px;
    text-align:center;
}



.main p { 
margin: 20px;
font-family: 'EB Garamond', serif;
font-size:18px;
}


.journal {
    position:relative;
    height: 500px;
    border: solid black 2px;
    overflow:hidden;
}

.page-container {
    position:absolute;
    width:350px;
    height: 500px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.page-container small {
    align-items:flex-start;
    height:50px;
    width:30px;
    opacity:1;
    order:1;

}

.page {
    position:absolute;
    width:100%;
    height:90%;
    opacity: 0.05;
    transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s; /* Smooth transition for transform, delay for z-index */
    background: #feffe5;
    color: #564f03;
    margin: 0 auto 25px;
    border: 1px solid black; /* Style as you like */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
}

.page h5 {
    flex:1;
}

.page p {
    flex:9;
}

#page1 {
    z-index: 5; 
    left:20;
}

#pageNumber1 {


}


#page2 {
    z-index: 4; 
    left:50px;}

#page3 {
    z-index: 3; 
    left:70px;}

#page4 {
    z-index: 2; 
    left:90px;
}

#page5 {
    z-index: 1; 
    left:110px;
}


.page:hover {
    opacity: 1;
    z-index: 100; /* Brings the hovered page to the front */
}



