@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin:  auto;
    width:50vw;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -13px;
}


.container {
    display:flex;
    flex-direction:column;
    gap:5vh;
    justify-content:space-between;
}

#quote {
    font-size:18px;
    font-family: 'Indie Flower', cursive;
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    color:rgb(0, 0, 0);
    width:40vw;
    height: 30px;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:30px;
}

#quote2 {
    font-size:12px;
    font-family: 'Delius', cursive;
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    color:rgb(0, 0, 0);
    width:40vw;
    height: 100px;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:30px;
}

.actualQuote {
    width:90%;
}

#quoteAttribution {
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    margin-top:10px;
    margin-bottom:40px;
    margin-left:10vw;
    margin-right:10vw;
    width:70%;
    background-color:rgb(255, 255, 255);
}


.title {
    display:flex;
    gap:10px;
    text-align:center;
}



.main p { 
margin: 20px;
font-family: 'EB Garamond', serif;
font-size:18px;
}


.journal {
    position:relative;
    height: 500px;
    display:inline-block;
    width:auto;
    border:rgb(136, 111, 0) 2px solid;
    justify-content:flex-start;
}

.page {
    position:absolute;
    width:350px;
    height: 100%;
    opacity: 0.02;
    transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s; /* Smooth transition for transform, delay for z-index */
    background: #feffe5;
    color: #564f03;
    margin: 0 auto 25px;
    border: 1px solid black; /* Style as you like */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 20px;
    box-sizing: border-box;
  
}

#page1 {
    z-index: 5; 
    left:20;
}

#page2 {
    z-index: 4; 
    left:60px;}

#page3 {
    z-index: 3; 
    left:100px;}

#page4 {
    z-index: 2; 
    left:140px;
}

#page5 {
    z-index: 1; 
    left:180px;
}

.page:hover {
    opacity: 1;
    z-index: 100; /* Brings the hovered page to the front */
}

.letterhead {
    width:350px;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.letterhead small {
    position:relative;
    height:10px;
    width:30px;
    opacity:1;
    margin-right:30px;
    margin-bottom:30px;
}

.tome {
    position:relative;
    height: 350px;
    display:inline-block;
    width:auto;
    border:rgb(134, 134, 134) 2px solid;
    justify-content:flex-start;
    background-color:gainsboro;
}

.tomeslab {
    position:absolute;
    width:500px;
    height: 100%;
    opacity: 0.02;
    transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s; /* Smooth transition for transform, delay for z-index */
    background: #feffe5;
    color: #564f03;
    margin: 0 auto 25px;
    border: 1px solid black; /* Style as you like */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 20px;
    box-sizing: border-box;
    background-color:gainsboro;

  
}

.tomeslab:hover {
    opacity: 1;
    z-index: 100; /* Brings the hovered page to the front */
}