@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin:  auto;
    width:50vw;
}

.container {
    display:flex;
    flex-direction:column;
    gap:5vh;
    justify-content:space-between;
}

.quote {
    font-size:20px;
    font-family: 'Delius', cursive;
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    color:rgb(0, 0, 0);
    width:40vw;
    height: 250px;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:40px;
}

.actualQuote {
    width:90%;
}

#quoteAttribution {
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10vw;
    margin-right:10vw;
    width:70%;
    background-color:rgb(255, 255, 255);
}


.title {
    display:flex;
    gap:10px;
    text-align:center;
}



.main p { margin: 20px;
font-family: 'EB Garamond', serif;
font-size:18px;}


